.menu_hamburguera{
    position: relative;
  
}


.menu-icon{
    size-adjust: 40%;
    float: right;
    margin-top: -40px;
    margin-right: 4%;
    color: #FFFFFF;
    cursor: pointer;
}



.menu2{

    width: 327px;
    height: 184px;
    margin-top: 0px;
    margin-left: 25px;

}

.menu{

    display: none;
    position: absolute;
    top: 0px;
    right: 0%;
    background-color: rgba(111, 108, 107, 1);
    height: 833px;
    width: 359px;
    background-color: #3c3b3a;
    
}




.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(111, 108, 107, 1);
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    color: rgba(255, 245, 225, 1);
}


h1{
    width: 94px;
    height: 44px;
    top: 2px;
    left: 12px;
    border: 1px solid #3c3b3a;
    margin-top: 10px;    
    margin-bottom: 10px;
    margin-left: 12px;
}

.text1{
    color: #FFFFFF;
    margin-left: 9px;
    margin-top: 19px;
    border: 1px solid #3c3b3a;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 70px;
    height: 24px;
    font-family: "Roboto", serif;
}

.conteiner{
    border: 1% solid #3c3b3a;
    width: 100%;
    height: 65px;
    background-color: #3c3b3a;
}


.conteiner2{
    background-image: url(img/Illustration.png);
    background-position: 150px;
    background-position-y: 350px;
    background-position-x: 210px;
    background-repeat: no-repeat;
}

.conteiner2{

    background-color: rgba(28, 26, 25, 1);
    border: 1px solid rgba(28, 26, 25, 1);
    height: 590px;
    padding-top: 120px;
    padding-right: 24px;
    padding-bottom: 120px;
    padding-left: 24px;
    gap: 12px;
}

.text2{
    color: rgba(255, 107, 0, 1);
    border: 1px solid rgba(28, 26, 25, 1);
    width: 327px;
    height: 124px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
}

.text3{
    color: rgba(255, 245, 225, 1);
    border: 1px solid rgba(28, 26, 25, 1);
    margin-top: -50px;
    width: 327px;
    height: 27px;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

}

.text4{
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 12, 12, 0);
    width: 327px;
    height: 123px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

}

.conteiner3{

    border: 1px solid rgba(28, 26, 25, 0);
    width: 219px;
    height: 40px;
    margin-top: 25px;
    
}

.fa-github{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    
}

.fa-linkedin-in{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-angellist{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-x-twitter{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-medium{
    color: rgba(219, 216, 215, 1);
    border: 1px solid rgba(28, 26, 25, 0);
    cursor: pointer;
    width: 33px;
    height: 40px;
    border-radius: 0px;
    padding: 8;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}




.container_major{

    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    height: 215em;

}

.container_sons{

    border: 1px solid rgb(255, 255, 255);
    width: 20.5rem;
    height: 6.7rem;
    margin-left: 20px;
    margin-top: 110px;
}

.titulo_major{

    font-family: "Crete Round", serif;
    color: rgba(28, 26, 25, 1);
    margin-top: 20px;
    text-align: center;
    font-weight: 400px;
    font-size: 40px;
    border-bottom: 1px solid rgba(33, 33, 33, 1);
    padding-bottom: 36px;
    
}


.container_sons2{

    border: 1px solid red;
    margin-top: 80px;
    width: 100%;
    height: 189.4rem;     
}

.imagen1{

    width: 310px;
    height: 237px;
    margin-left: 25px;

}

.container_text{

    border: 1px solid rgb(255, 255, 255);
    width: 310px;
    height: 350px;
    margin-left: 24px;

}

.text_major1{

    color: rgba(9, 30, 66, 1);
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
}


.sub_container_text1{
    color: rgba(9, 30, 66, 1);
    border: 1px solid rgb(255, 255, 255);
    margin-top: -20px;
    margin-left: -1px;
    width: 310px;
    height: 160px;
}

.text_major2{
    margin-top: 0px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 19px;
    
}

.container_tags{

    display: flex;
    gap: 12px;
    margin-left: -1px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 30px;
    width: 310px;
    height: 40px;
    text-align: center;
}



.Container_tag1{

    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 55px;
    height: 40px;
     
}

.tag_css{
    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.container_tag2{
    
    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 67px;
    height: 40px;
    
}

.tag_HTLM{

    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.container_tag3{

    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 95px;
    height: 40px;
    
    
}

.tag_Bootstrap{

    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.container_tag4{

    border: 1px solid rgba(137, 147, 164, 1);
    margin-top: -1px;
    width: 61px;
    height: 40px;
    

}

.tag_Ruby{

    margin-top: 10px;
    color: rgba(9, 30, 66, 1);
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.button_decoration{
    
    border: 1px solid rgba(245, 88, 0, 1);;
    margin-top: 15px;
    background-color: rgba(245, 88, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    width: 124px;
    height: 48px;
    border-color: rgba(255, 107, 0, 1);
    
}

.text_buttom{
    margin-top: 10px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    initial-letter: 3%;

}

.button_decoration:hover{

    color: rgba(255, 107, 0, 1);
    background-color: rgba(255, 245, 225, 1);
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }














    


